@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
#scrollToTopBtn {
  background-color: var(--thrirtary);

  border: none;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  height: 48px;
  width: 48px;
  bottom: 15px;
  right: 35px;
  transition: all 1s ease;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100px);
}
#scrollToTopBtn i {
  font-size: 23px;
}
#scrollToTopBtn:hover {
  background-color: var(--primary);
}
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
:root {
  --primary: #0dc5a0;
  --secondary: #312f2f;
  --thrirtary: #ffca3a;
}
html {
  scroll-behavior: smooth;
  font-size: 62, 5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Montserrat', 'san-serif';
  outline: none;
}
.yellow {
  color: var(--thrirtary);
}
body {
  overflow-x: hidden;
}
.primary {
  color: var(--primary);
}
nav.navbar {
  position: relative;
  animation: dropIn 1.5s ease;
}
/* Start of section 1*/
.navbar--list {
  position: relative;
  z-index: 20;
  top: 1rem;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.navbar-link {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: #fff;
  text-align: center;
  transition: all 1.3s ease;
  padding: 5px;
  overflow: hidden;
  position: relative;
}

.navbar-link::before {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--thrirtary);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.navbar-link:hover::before {
  transform: translateX(0);
}
.navbar--list > .navbar-link > a {
  color: var(--secondary);
  width: 100%;
  display: block;
  height: 100%;
}

/*Start of section 1*/
.section--1 {
  width: 100%;
  height: 100vh;
  background-color: var(--secondary);
}
.floating--background {
  width: 140vw;
  height: 140vw;
  background-color: var(--primary);
  position: absolute;
  top: -270%;
  left: calc(50% - 70vw);
  border-radius: 45%;
  animation: rotate 22s infinite;
}
.floating--background::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(217, 228, 60, 0.1);
  position: absolute;
  border-radius: 43%;
  animation: rotate 30s infinite;
}
.floating--background::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(122, 212, 134, 0.3);
  position: absolute;
  border-radius: 51%;
  animation: rotate 130s infinite;
}
.section--heading {
  display: flex;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.2rem black;
  letter-spacing: 0.2rem;
  width: 80%;
  justify-content: space-evenly;
  position: relative;
}
.section--heading h1 {
  font-size: 5rem;
}
.section--heading h4 {
  margin-top: 30px;
}
.section--heading--button {
  margin-top: 40px;
  position: absolute;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-shadow: none;
  display: block;
  padding: 13px 20px;
  background-color: var(--primary);
  color: black;
  border: 1px solid black;
  position: relative;
  width: 204px;
  text-align: center;
}
.section--heading--button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--thrirtary);
  z-index: -1;
  left: 5px;
  top: 5px;
  transition: transform 0.1s ease;
}
.section--heading--button:hover::before {
  transform: translateX(-5px) translateY(-5px);
}
.section--heading h3 {
  font-size: 3rem;
}
.hero-img {
  animation: fadeIn 1.5s ease;
}
/*End of section 1*/
/*Start of section 2*/
.section--2 {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  flex-wrap: wrap;

  text-shadow: 0.2rem 0.2rem 0.2rem #333;
}
.section--wrapper {
  width: 80%;
  display: flex;
  align-items: center;
  padding: 0 5rem;
  flex-wrap: wrap;
}
.section--text {
  display: flex;
  flex-wrap: wrap;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.section--text h2 {
  font-size: 60px;
  margin-bottom: 3rem;
  color: black;
  text-shadow: none;
}
.section--text p {
  font-size: 20px;
  color: black;
  text-shadow: none;
  width: 70%;
  letter-spacing: 3.5px;
}
.section--img {
  display: flex;
  justify-content: center;
  width: 512px;
  height: 512px;
  border-radius: 50%;
}

.section--img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 0.4s ease;

  /* opacity: .3; */
}
/*End of section 2*/
/*Start of section 3*/
.section--3 {
  width: 100%;
  min-height: 100vh;
  background-color: #393939;
  font-size: 3rem;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.2rem #333;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 1fr 1fr;
  grid-template-areas:
    '. title title'
    '. html css'
    'scss js react';
  position: relative;
  padding: 5rem 6rem;
}
.skill--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 530px;
}
.skill--item h3 {
  margin: 15px;
}
.skill-monkey {
  grid-area: monkey;
  margin-right: 60px;
  position: absolute;
  left: 100px;
  top: 70px;
  width: 500px;
}
.skill--title {
  grid-area: title;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3.5px;
}
.scss-item {
  grid-area: scss;
}
.html-item {
  grid-area: html;
}
.css-item {
  grid-area: css;
}
.scss-item {
  grid-area: scss;
}
.js-item {
  grid-area: js;
}
.react-item {
  grid-area: react;
}
.section--3 h3 {
  font-size: 35px;
  letter-spacing: 3.5px;
}
.section--3 p {
  font-size: 20px;
  letter-spacing: 3.5px;
}

/*End of section 3*/
/*Start of section 4*/
.section--4 {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.2rem #333;
}
.section--4 h2 {
  font-size: 60px;
  letter-spacing: 3.5px;
  margin-bottom: 2rem;
  color: black;
  text-shadow: none;
}
.projects--container {
  display: flex;
  flex-wrap: wrap;
  width: 1040px;
}
.project--item {
  width: 50%;
  height: 50%;
  position: relative;
}
.project--item:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
.overlay {
  padding: 1.2rem 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  opacity: 0;
  transition: opacity 0.4s ease;
  display: flex;
  justify-content: center;
  color: white;
}
.overlay span.overlay--title {
  color: white;
  font-size: 2.3rem;
}
.overlay--view {
  font-size: 1rem;
  position: absolute;
  display: block;
  bottom: 1.5rem;
  right: 2.5rem;
  color: white;
}
.project--item img {
  width: 100%;
  height: 100%;
}
/*End of section 4*/
.section--5 {
  width: 100%;
  min-height: 100vh;
  background-color: var(--secondary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  flex-direction: column;
  flex-wrap: wrap;

  position: relative;
}
.contact-monkey {
  position: absolute;
  top: 0;
  left: 8rem;
}
.section--5 form {
  background-color: white;
  padding: 2rem;
  width: 500px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  box-shadow: 0.1rem 0.1rem 0.1rem var(--secondary);
  position: relative;
}

.form h3 {
  color: #312f2f;
  padding-bottom: 2rem;
  font-size: 1.7rem;
}
.form--box {
  width: 80%;
  height: 2.4rem;
  position: relative;
  margin: 0.4rem;
  overflow-x: hidden;
}
.form--input {
  position: absolute;
  width: 100%;
  height: 100%;
  /* outline: red; */
  border: none;
  font-size: 0.8rem;
  padding-top: 0.7rem;
}
.form--label {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 2px solid var(--secondary);
  color: black;
  font-size: 1rem;
  padding-top: 0.8rem;
}
.form--label:before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--primary);
  position: absolute;
  bottom: -2px;
  left: -100%;
  transition: transform 0.4s ease;
}
.form--text {
  position: absolute;
  font-size: 1rem;
  transition: all 0.4s ease;
}
.form--input:focus + .form--label .form--text,
.form--input:valid + .form--label .form--text {
  transform: translateY(-100%);
  font-size: 0.7rem;
  color: var(--primary);
}
.form--input:focus + .form--label::before,
.form--input:valid + .form--label::before {
  transform: translateX(100%);
}
.form--textarea {
  height: 13rem;
}
.form--textarea input {
  padding-bottom: 7rem;
}
footer {
  border-top: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--secondary);
  color: white;
  height: 8vh;
}
a.mail--link {
  color: var(--thrirtary);
  position: relative;
  margin-left: 10px;
}
.footer--copyright {
  letter-spacing: 3px;
  font-size: 1.3rem;
  font-weight: semibold;
}
.footer--phone {
  color: #0dc5a0;
  letter-spacing: 3px;
  font-size: 1.3rem;
  font-weight: semibold;
}
.form--btn {
  margin-top: 15px;
  padding: 10px 35px;
  background: none;
  border: none;
  position: relative;
}
.form--btn::before,
.form--btn::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border: 3px solid #000;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  transition: transform 0.3s ease;
}
.form--btn:hover::before {
  transform: translate(-4px, -4px);
  cursor: pointer;
}
.form--btn:hover::after {
  transform: translate(4px, 4px);
  cursor: pointer;
}

.footer--socials__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer--socials__list a {
  color: var(--thrirtary);
  margin: 20px;
}
.footer--socials__item i {
  font-size: 32px;
  transition: transform 0.3s ease;
}
.footer--socials__item i:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.fa-github:hover {
  color: var(--primary);
}
.fa-paper-plane:hover {
  transform: scale(1.5);
  color: var(--primary);
}
.fa-linkedin:hover {
  color: var(--primary);
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes dropIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes show {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (max-width: 1600px) {
  .floating--background {
    top: -110vh;
  }
  .section--heading {
    top: 520px;
  }
  .section--heading--textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  .section--heading--textbox h1 {
    font-size: 45px;
  }
  .section--heading--textbox h4 {
    font-size: 22px;
  }
  .section--wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 20px 0;
  }
  .section--text {
    width: 100%;
    min-height: 450px;
  }
  .section--img {
    background-color: blue;
  }
  .section--3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skill-monkey {
    display: none;
  }
  .skill--item {
    margin: 40px;
    width: 100%;
    padding: 10px;
  }
  .section--4 {
    min-height: 100vh;
    padding: 40px;
  }
  .projects--container {
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 600px) {
  #scrollToTopBtn {
    display: none;
  }
  .section--1 {
    overflow: hidden;
  }
  .floating--background {
    display: none;
  }
  button.burger {
    position: absolute;
    right: 1rem;
    width: 35px;
    height: 35px;
    border: none;
    background: none;
    display: block;
    z-index: 999;
  }
  button.burger:hover {
    cursor: pointer;
  }
  button.burger.active .burger--inner {
    background: transparent;
  }
  button.burger.active .burger--inner::before {
    transform: rotate(45deg);
  }
  button.burger.active .burger--inner::after {
    transform: rotate(-45deg);
  }
  .burger--outer {
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .burger--inner {
    height: 3px;
    width: 100%;
    background-color: var(--thrirtary);
    position: relative;
    transition: transform 0.4s ease;
  }
  .burger--inner:before {
    content: '';
    height: 3px;
    width: 100%;
    left: 0;
    background-color: var(--thrirtary);
    transform: translateY(-8px);
    position: absolute;
    transition: transform 0.4s ease;
  }
  .burger--inner:after {
    content: '';
    height: 3px;
    width: 100%;
    left: 0;
    background-color: var(--thrirtary);
    transform: translateY(8px);
    position: absolute;
    transition: transform 0.4s ease;
  }
  nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 60px;
    /* background-color: var(--primary); */
    z-index: 2;
  }

  .navbar--list {
    background-color: var(--primary);

    right: 0;
    top: 0;
    transform: translateX(100%);
    width: 60%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    position: fixed;
    transition: transform 0.9s ease-in;
    position: absolute;
  }
  .navbar--list.active {
    transform: translateX(0);
  }
  .navbar-link {
    word-wrap: normal;
    font-size: 16px;
    text-shadow: none;
  }

  li.navbar-link a {
    color: black !important;
  }
  .section--1 {
    padding: 0;
    overflow: hidden;
  }
  .section--heading {
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    flex-direction: column-reverse;
    width: 100%;
    padding: 30px;
    padding-bottom: 200px;
  }

  .section--heading h1 {
    font-size: 35px;
  }

  .section--heading--textbox h4 {
    position: relative;
  }

  .section--2 {
    padding-bottom: 30px;
  }
  .section--wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
  }
  .section--text {
    width: 100%;
    margin-bottom: 40px;
    padding: 0;
  }
  .section--text h2 {
    margin-top: 40px;
    font-size: 34px;
  }
  .section--text p {
    font-size: 16px;
  }
  .section--img {
    width: 300px;
    height: 300px;
  }
  .section--img:hover img.about--img {
    transform: scale(1);
  }
  .section--3 {
    grid-column: 1fr;
    grid-template-areas:
      'title'
      'html'
      'css'
      'scss'
      'js'
      'react'
      'angryMonkey';
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  .section--3 img {
    position: relative;
    grid-area: angryMonkey;
    width: 370px;
    margin-bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
  .section--3 h2 {
    margin-top: 20px;
    font-size: 34px;
    width: 100vw;
  }
  img.skill-monkey {
    position: relative;
    width: 420px;
    left: 42%;
    /* left: calc(50%-150px);
    transform: translate(-50%); */
    /* left: 0; */
  }

  .skill--item {
    width: 100vw;
    height: 200px;
    margin: 10px;
    padding: 10px;
  }

  .section--3 h3 {
    font-size: 25px;
  }
  .skill--item p {
    font-size: 16px;
    text-shadow: none;
  }
  .section--4 h2 {
    margin-top: 20px;
    font-size: 34px;
    letter-spacing: none;
  }
  .projects--container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }
  .project--item {
    width: 80%;
    margin: 10px;
    overflow: hidden;
  }
  .overlay {
    width: 100%;
    height: 100%;
  }
  .overlay span.overlay--title {
    font-size: 24px;
  }

  .section--5 {
    background-color: #fff;
  }

  .contact-monkey {
    width: 230px;
    left: 10%;
    display: none;
  }

  /* reszta */
  .section--5 form {
    background-color: white;
    padding: 2rem;
    width: 100%;
    height: 560px;
    box-shadow: none;
  }
  .form--box {
    background-color: pink;
  }
  footer {
    min-height: 20vh;
    flex-direction: column;
    padding-top: 30px;
  }
  .footer--copyright {
    font-size: 14px;
  }

  .footer--socials__list {
    width: 40%;
  }
  .footer--socials__list i {
    font-size: 35px;
  }
  .footer--phone {
    font-size: 16px;
  }
}
