@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
:root {
  --primary: #0dc5a0;
  --secondary: #312f2f;
  --thrirtary: #ffca3a;
}
html {
  scroll-behavior: smooth;
  font-size: 62, 5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Montserrat', 'san-serif';
  outline: none;
}
body {
  overflow-x: hidden;
}
.primary {
  color: var(--primary);
}
.container {
  overflow: hidden;
}
/* Start of section 1*/
.navbar {
  width: 100%;
  /* background-color: var(--secondary); */
  height: 8vh;
  display: flex;
  justify-content: center;
}
.navbar--list {
  width: 80%;
  z-index: 2;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-link {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2rem;
  word-wrap: break-word;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  width: 1.3rem;
  display: inline-block;
  position: absolute;
  color: white;
  font-weight: 500;
  text-align: center;
  transition: all 0.7s ease-in-out;
}
.navbar-link:hover {
  width: 13rem;
  color: var(--thrirtary);
  font-size: 1.8rem;
}
/*Start of section 1*/
.section--1 {
  width: 100%;
  height: 100vh;
  padding-top: 0.3rem;
  background-color: var(--secondary);
}
.floating--background {
  width: 140vw;
  height: 140vw;
  background-color: var(--primary);
  position: absolute;
  top: -270%;
  left: calc(50% - 70vw);
  border-radius: 45%;
  animation: rotate 22s infinite;
}
.floating--background::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(217, 228, 60, 0.1);
  position: absolute;
  border-radius: 43%;
  animation: rotate 30s infinite;
}
.floating--background::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(122, 212, 134, 0.3);
  position: absolute;
  border-radius: 51%;
  animation: rotate 130s infinite;
}
.section--heading {
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.2rem black;
  letter-spacing: 0.2rem;
  width: 80%;
  justify-content: space-evenly;
}
.section--heading h1 {
  font-size: 5rem;
}
.section--heading h3 {
  font-size: 3rem;
}
.hero-img {
  animation: fadeIn 1.5s ease;
}
/*End of section 1*/
/*Start of section 2*/
.section--2 {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.2rem #333;
}
.section--wrapper {
  width: 80%;
  display: flex;
  align-items: center;
  padding: 0 5rem;
}
.section--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.section--text h2 {
  font-size: 60px;
  margin-bottom: 3rem;
  color: black;
  text-shadow: none;
}
.section--text p {
  font-size: 20px;
  color: black;
  text-shadow: none;
  width: 70%;
  letter-spacing: 3.5px;
}
.section--img {
  display: flex;
  justify-content: center;
  width: 512px;
  height: 512px;
  border-radius: 50%;
  overflow: hidden;
}
.section--img:hover img.about--img {
  transform: scale(1.2);
  cursor: pointer;
}
.section--img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 0.4s ease;

  /* opacity: .3; */
}
/*End of section 2*/
/*Start of section 3*/
.section--3 {
  width: 100%;
  height: 100vh;
  background-color: #393939;
  font-size: 3rem;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.2rem #333;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 1fr 1fr;
  grid-template-areas:
    '. title title'
    '. html css'
    'scss js react';
  position: relative;
  padding: 5rem 6rem;
}
.skill--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 530px;
}
.skill--item h3 {
  margin: 15px;
}
.skill-monkey {
  grid-area: monkey;
  margin-right: 60px;
  position: absolute;
  left: 100px;
  top: 70px;
  width: 500px;
}
.skill--title {
  grid-area: title;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3.5px;
}
.scss-item {
  grid-area: scss;
}
.html-item {
  grid-area: html;
}
.css-item {
  grid-area: css;
}
.scss-item {
  grid-area: scss;
}
.js-item {
  grid-area: js;
}
.react-item {
  grid-area: react;
}
.section--3 h3 {
  font-size: 35px;
  letter-spacing: 3.5px;
}
.section--3 p {
  font-size: 20px;
  letter-spacing: 3.5px;
}

/*End of section 3*/
/*Start of section 4*/
.section--4 {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.2rem #333;
}
.section--4 h2 {
  font-size: 60px;
  letter-spacing: 3.5px;
  margin-bottom: 2rem;
  color: black;
  text-shadow: none;
}
.projects--container {
  display: flex;
  flex-wrap: wrap;
  width: 1040px;
  height: 678px;
}
.project--item {
  width: 50%;
  height: 50%;
  position: relative;
}
.project--item:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
.overlay {
  padding: 1.2rem 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  opacity: 0;
  z-index: 2;
  transition: opacity 0.4s ease;
  display: flex;
  justify-content: center;
  color: white;
}
.overlay span.overlay--title {
  color: white;
  font-size: 2.3rem;
}
.overlay--view {
  font-size: 1rem;
  position: absolute;
  display: block;
  bottom: 1.5rem;
  right: 2.5rem;
  color: white;
}
.project--item img {
  width: 100%;
  height: 100%;
}
/*End of section 4*/
.section--5 {
  width: 100%;
  height: 100vh;
  background-color: var(--secondary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  flex-direction: column;
  position: relative;
}
.contact-monkey {
  position: absolute;
  top: 0;
  left: 8rem;
}
.section--5 form {
  background-color: white;
  padding: 2rem;
  width: 500px;
  height: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0.1rem 0.1rem 0.1rem var(--secondary);
}
.form h3 {
  color: #312f2f;
  padding-bottom: 2rem;
  font-size: 1.7rem;
}
.form--box {
  width: 80%;
  height: 2.4rem;
  position: relative;
  overflow-x: hidden;
  margin: 0.4rem;
}
.form--input {
  position: absolute;
  width: 100%;
  height: 100%;
  /* outline: red; */
  border: none;
  font-size: 0.8rem;
  padding-top: 0.7rem;
}
.form--label {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 2px solid var(--secondary);
  color: black;
  font-size: 1rem;
  padding-top: 0.8rem;
}
.form--label:before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--primary);
  position: absolute;
  bottom: -2px;
  left: -100%;
  transition: transform 0.4s ease;
}
.form--text {
  position: absolute;
  font-size: 1rem;
  transition: all 0.4s ease;
}
.form--input:focus + .form--label .form--text,
.form--input:valid + .form--label .form--text {
  transform: translateY(-100%);
  font-size: 0.7rem;
  color: var(--primary);
}
.form--input:focus + .form--label::before,
.form--input:valid + .form--label::before {
  transform: translateX(100%);
}
.form--textarea {
  height: 13rem;
}
.form--textarea input {
  padding-bottom: 7rem;
}
footer {
  border-top: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--secondary);
  color: white;
  height: 8vh;
}
.footer--copyright {
  letter-spacing: 3px;
  font-size: 1.3rem;
  font-weight: semibold;
}
.footer--phone {
  color: #0dc5a0;
  letter-spacing: 3px;
  font-size: 1.3rem;
  font-weight: semibold;
}
.form--btn {
  margin-top: 15px;
  padding: 10px 35px;
  background: none;
  border: none;
  position: relative;
}
.form--btn::before,
.form--btn::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border: 3px solid #000;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  transition: transform 0.3s ease;
}
.form--btn:hover::before {
  transform: translate(-4px, -4px);
  cursor: pointer;
}
.form--btn:hover::after {
  transform: translate(4px, 4px);
  cursor: pointer;
}

.footer--socials__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 8%;
}
.footer--socials__item i {
  font-size: 2rem;
}
.footer--socials__item i:hover {
  cursor: pointer;
  transform: scale(1.5);
}
.fa-github:hover {
  color: #4078c0;
}
.fa-facebook:hover {
  color: #4169e1;
}
.fa-linkedin:hover {
  color: #0e76a8;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
