@media (max-width: 600px) {
  .section--2 {
    min-height: 100vh;
    .section--wrapper {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      text-align: center;
      padding: 25px;
      .section--text {
        height: 320px;
        padding-top: 20px;
        h2 {
          font-size: 34px;
          margin-bottom: 20px;
        }
      }
      .section--img {
        background: url('../../img/about\ image.jpg');
        background-position: center;
        background-size: cover;
        width: 250px;
        height: 250px;
        border-radius: 50%;
      }
    }
  }
}
