@use "./utils/colors";

//start section 5

.section--5 {
  background-color: colors.$thrirtary;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  flex-direction: column;
  flex-wrap: wrap;

  position: relative;
  .contact-monkey {
    position: absolute;
    top: 0;
    left: 8rem;
  }
  form {
    background-color: white;
    padding: 2rem;
    width: 500px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.1rem 0.1rem 0.1rem black;
    position: relative;
    h3 {
      color: #312f2f;
      padding-bottom: 2rem;
      font-size: 1.7rem;
    }
    .form--box {
      width: 80%;
      height: 2.4rem;
      position: relative;
      margin: 0.4rem;
      overflow-x: hidden;

      .form--input {
        padding-top: 13px;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        outline: none;
        border: none;
        &:focus + .form--label .form--text,
        &:valid + .form--label .form--text {
          transform: translateY(-13px);
          color: colors.$primary;
          font-size: 13px;
        }
        &:focus + .form--label::before,
        &:valid + .form--label::before {
          transform: translateX(0);
        }
      }
      .form--label {
        @extend .form--input;
        pointer-events: none;
        border-bottom: 2px solid black;
        span {
          color: black;
          display: block;
          transition: transform 0.3s ease, font-size 0.3s ease;
        }
        &::before {
          content: "";
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 3px;
          background-color: colors.$primary;
          position: absolute;
          transform: translateX(-100%);
          transition: transform 0.3s ease;
        }
      }
    }
    .form--textarea {
      height: 13rem;
    }
    .form--btn {
      margin-top: 15px;
      padding: 10px 35px;
      border: none;
      position: relative;
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        border: 3px solid #000;
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease;
      }
    }

    .form--btn:hover::before {
      transform: translate(-4px, -4px);
      cursor: pointer;
    }
    .form--btn:hover::after {
      transform: translate(4px, 4px);
      cursor: pointer;
    }
  }
}
//startfooter
footer {
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: space-around;
  padding-left: 20px;
  background-color: #222;
  color: white;
  .footer--copyright {
    font-size: 20px;
    letter-spacing: 3px;
    .mail--link {
      color: colors.$secondary;
    }
  }
  .footer--phone {
    @extend .footer--copyright;
  }
  .footer--socials__list {
    list-style-type: none;
    display: flex;
    width: 100px;
    font-size: 35px;
    justify-content: space-around;
    i {
      color: colors.$secondary;
      &:hover {
        color: colors.$primary;
      }
    }
  }
  #scrollToTopBtn {
    border: none;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    height: 48px;
    width: 48px;
    bottom: 15px;
    right: 35px;
    transition: all 1s ease;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100px);
    background-color: colors.$secondary;
    i {
      font-size: 24px;
    }
    &:hover {
      background-color: colors.$secondary;
    }
  }
}
//end footer
//end section 5
@media (max-width: 600px) {
  .section--5 {
    overflow-x: hidden;
    background-color: #fff;
    form.form {
      width: 100%;
      box-shadow: none;
    }
  }
  footer {
    flex-direction: column;
    min-height: 200px;
    align-items: center;
    padding: 0 8px;
    .footer--copyright {
      font-size: 14px;
    }
  }
}
@media (min-width: 601px) and (max-width: 959px) {
  .section--5 {
    overflow-x: hidden;
    background-color: #fff;
    form.form {
      width: 100%;
      box-shadow: none;
    }
  }
  footer {
    flex-direction: column;
    min-height: 200px;
    align-items: center;
    padding: 0 8px;
    .footer--copyright {
      font-size: 18px;
    }
  }
}
