@use './utils/colors';

//START section 1 HERO
.section--1 {
  width: 100%;
  min-height: 100vh;
  background-color: colors.$thrirtary;
  display: flex;
  flex-direction: column;
  justify-content: center;

  //NAV START
  nav {
    top: 0;
    width: 100%;
    position: absolute;
    //   background-color: $primary;
    height: 80px;
    display: flex;
    justify-content: center;
    .navbar--list {
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style-type: none;
      height: 100%;
      width: 60%;

      .navbar-link a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        letter-spacing: 2px;
        display: block;
        position: relative;
        overflow: hidden;
        font-weight: bold;
        text-shadow: -1px 2px 1px rgba(66, 68, 90, 1);
        &::after {
          transition: transform 0.3s ease;
          content: '';
          width: 100%;
          height: 3px;
          background-color: colors.$secondary;
          position: absolute;
          left: 0;
          bottom: 0;
          transform: translateX(-100%);
        }
        &:hover::after {
          transform: translateX(0);
        }
      }
    }
  }

  //NAV END

  .section--heading {
    display: flex;
    position: relative;
    transform: translateY(60px);

    .section--heading--textbox {
      // width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 10%;

      .yellow {
        color: colors.$secondary;
      }
      h1 {
        font-size: 60px;
        color: #fff;
        text-align: left;
        margin: 5px;
        text-shadow: -1px 2px 1px rgba(66, 68, 90, 1);
      }
      h4 {
        color: #fff;
        margin-top: 15px;
        font-size: 33px;
        text-shadow: -1px 2px 1px rgba(66, 68, 90, 1);
        letter-spacing: 3px;
      }
      .section--heading--button {
        margin-top: 40px;
        position: absolute;
        color: white;
        font-size: 16px;
        font-weight: 400;
        text-shadow: none;
        display: block;
        padding: 13px 20px;
        background-color: colors.$secondary;
        color: black;
        border: 1px solid black;
        position: relative;
        width: 204px;
        text-align: center;
      }
      .section--heading--button::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: colors.$primary;
        z-index: -1;
        left: 5px;
        top: 5px;
        transition: transform 0.1s ease;
      }
      .section--heading--button:hover::before {
        transform: translateX(-5px) translateY(-5px);
      }
    }
    .hero-img {
      transform: scale(1.1);
      padding-right: 10%;
    }
  }
}
//END section 1 HERO
@media (max-width: 600px) {
  .burger {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 20px;
    right: 20px;
    border: none;
    background: none;
    z-index: 999;
    cursor: pointer;
    &--outer {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      .burger--inner {
        display: block;
        height: 3px;
        width: 100%;
        background-color: colors.$secondary;
        transition: all 0.3s ease;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          transform: translateY(-8px);
          display: block;
          height: 3px;
          width: 100%;
          background-color: colors.$secondary;
          transition: all 0.3s ease;
        }
        &::after {
          content: '';
          position: absolute;
          transform: translateY(8px);
          display: block;
          height: 3px;
          width: 100%;
          background-color: colors.$secondary;
          transition: all 0.3s ease;
        }
      }
    }
    &.active .burger--inner {
      background: transparent;
      &::before {
        background-color: pink;
        transform: rotate(45deg);
      }
      &::after {
        background-color: pink;
        transform: rotate(-45deg);
      }
    }
  }
  .navbar--list {
    background-color: colors.$primary;
    min-height: 100vh;
    right: 0;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: transform 0.3s ease;
    transform: translateX(100%);
    &.active {
      transform: translateX(0);
    }
  }
  .section--heading {
    flex-direction: column-reverse;
    align-items: flex-end;
    img {
      width: 300px;
    }
    .section--heading--textbox {
      h1 {
        font-size: 32px !important;
      }
      h4 {
        font-size: 20px !important;
      }
    }
  }
}
