@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
.section--1 {
  width: 100%;
  min-height: 100vh;
  background-color: #312f2f;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--1 nav {
  top: 0;
  width: 100%;
  position: absolute;
  height: 80px;
  display: flex;
  justify-content: center;
}
.section--1 nav .navbar--list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  height: 100%;
  width: 60%;
}
.section--1 nav .navbar--list .navbar-link a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 2px;
  display: block;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  text-shadow: -1px 2px 1px rgb(66, 68, 90);
}
.section--1 nav .navbar--list .navbar-link a::after {
  transition: transform 0.3s ease;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ffca3a;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
}
.section--1 nav .navbar--list .navbar-link a:hover::after {
  transform: translateX(0);
}
.section--1 .section--heading {
  display: flex;
  position: relative;
  transform: translateY(60px);
}
.section--1 .section--heading .section--heading--textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}
.section--1 .section--heading .section--heading--textbox .yellow {
  color: #ffca3a;
}
.section--1 .section--heading .section--heading--textbox h1 {
  font-size: 60px;
  color: #fff;
  text-align: left;
  margin: 5px;
  text-shadow: -1px 2px 1px rgb(66, 68, 90);
}
.section--1 .section--heading .section--heading--textbox h4 {
  color: #fff;
  margin-top: 15px;
  font-size: 33px;
  text-shadow: -1px 2px 1px rgb(66, 68, 90);
  letter-spacing: 3px;
}
.section--1 .section--heading .section--heading--textbox .section--heading--button {
  margin-top: 40px;
  position: absolute;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-shadow: none;
  display: block;
  padding: 13px 20px;
  background-color: #ffca3a;
  color: black;
  border: 1px solid black;
  position: relative;
  width: 204px;
  text-align: center;
}
.section--1 .section--heading .section--heading--textbox .section--heading--button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0dc5a0;
  z-index: -1;
  left: 5px;
  top: 5px;
  transition: transform 0.1s ease;
}
.section--1 .section--heading .section--heading--textbox .section--heading--button:hover::before {
  transform: translateX(-5px) translateY(-5px);
}
.section--1 .section--heading .hero-img {
  transform: scale(1.1);
  padding-right: 10%;
}

@media (max-width: 600px) {
  .burger {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 20px;
    right: 20px;
    border: none;
    background: none;
    z-index: 999;
    cursor: pointer;
  }
  .burger--outer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .burger--outer .burger--inner {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #ffca3a;
    transition: all 0.3s ease;
    position: relative;
  }
  .burger--outer .burger--inner::before {
    content: "";
    position: absolute;
    transform: translateY(-8px);
    display: block;
    height: 3px;
    width: 100%;
    background-color: #ffca3a;
    transition: all 0.3s ease;
  }
  .burger--outer .burger--inner::after {
    content: "";
    position: absolute;
    transform: translateY(8px);
    display: block;
    height: 3px;
    width: 100%;
    background-color: #ffca3a;
    transition: all 0.3s ease;
  }
  .burger.active .burger--inner {
    background: transparent;
  }
  .burger.active .burger--inner::before {
    background-color: pink;
    transform: rotate(45deg);
  }
  .burger.active .burger--inner::after {
    background-color: pink;
    transform: rotate(-45deg);
  }

  .navbar--list {
    background-color: #0dc5a0;
    min-height: 100vh;
    right: 0;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: transform 0.3s ease;
    transform: translateX(100%);
  }
  .navbar--list.active {
    transform: translateX(0);
  }

  .section--heading {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .section--heading img {
    width: 300px;
  }
  .section--heading .section--heading--textbox h1 {
    font-size: 32px !important;
  }
  .section--heading .section--heading--textbox h4 {
    font-size: 20px !important;
  }
}
.section--2 {
  min-height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
}
.section--2 .section--wrapper {
  display: flex;
}
.section--2 .section--wrapper .section--text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}
.section--2 .section--wrapper .section--text h2 {
  margin-bottom: 20px;
  font-size: 48px;
  letter-spacing: 3px;
}
.section--2 .section--wrapper .section--text p {
  width: 500px;
  font-size: 25px;
}
.section--2 .section--wrapper .section--img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  width: 600px;
  height: 600px;
  background: url("../../img/about image.jpg");
  background-size: cover;
  background-position: center;
  border: 8px solid black;
  margin-left: 80px;
}

.section--3 {
  min-height: 100vh;
  background-color: #312f2f;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.section--3 h2 {
  font-size: 48px;
  letter-spacing: 3px;
  color: #fff;
  margin-bottom: 30px;
}
.section--3 .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 50px;
}
.section--3 .cards .card {
  background-color: black;
  width: 400px;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(167, 201, 196, 0.432);
  margin: 15px;
}
.section--3 .cards .card--wrapper {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  position: relative;
}
.section--3 .cards .card--wrapper img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}
.section--3 .cards .card--wrapper .card--overlay {
  border-radius: 20px 20px 0 0;
  position: absolute;
  mix-blend-mode: overlay;
  background-color: #0dc5a0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.section--3 .cards .card--details {
  padding: 20px;
}
.section--3 .cards .card--details h3 {
  margin-bottom: 10px;
}

.section--4 {
  min-height: 100vh;
  padding: 30px 0 50px 0;
}
.section--4 h2 {
  font-size: 48px;
  letter-spacing: 3px;
  color: black;
  margin-bottom: 30px;
  text-align: center;
}
.section--4 .projects--container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.section--4 .projects--container .project--item {
  width: 40%;
  background-image: url("./img/projects/beatmaker.szulinek.pl.jpg");
  background-size: cover;
  height: 400px;
  width: 40%;
  position: relative;
}
.section--4 .projects--container .project--item:hover .overlay {
  opacity: 1;
}
.section--4 .projects--container .project--item .overlay {
  width: 100%;
  height: 100%;
  background-color: #0dc5a0;
  opacity: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: opacity 0.3s ease;
}
.section--4 .projects--container .project--item .overlay span {
  font-size: 32px;
  color: #fff;
}
.section--4 .projects--container .project--item .overlay a {
  position: relative;
  font-size: 24px;
  bottom: 10px;
  text-decoration: none;
  color: #fff;
}
.section--4 .projects--container .project--item img {
  width: 100%;
  height: 100%;
}

.section--5 {
  background-color: #312f2f;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}
.section--5 .contact-monkey {
  position: absolute;
  top: 0;
  left: 8rem;
}
.section--5 form {
  background-color: white;
  padding: 2rem;
  width: 500px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  box-shadow: 0.1rem 0.1rem 0.1rem black;
  position: relative;
}
.section--5 form h3 {
  color: #312f2f;
  padding-bottom: 2rem;
  font-size: 1.7rem;
}
.section--5 form .form--box {
  width: 80%;
  height: 2.4rem;
  position: relative;
  margin: 0.4rem;
  overflow-x: hidden;
}
.section--5 form .form--box .form--input, .section--5 form .form--box .form--label {
  padding-top: 13px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  outline: none;
  border: none;
}
.section--5 form .form--box .form--input:focus + .form--label .form--text, .section--5 form .form--box .form--label:focus + .form--label .form--text, .section--5 form .form--box .form--input:valid + .form--label .form--text, .section--5 form .form--box .form--label:valid + .form--label .form--text {
  transform: translateY(-13px);
  color: #0dc5a0;
  font-size: 13px;
}
.section--5 form .form--box .form--input:focus + .form--label::before, .section--5 form .form--box .form--label:focus + .form--label::before, .section--5 form .form--box .form--input:valid + .form--label::before, .section--5 form .form--box .form--label:valid + .form--label::before {
  transform: translateX(0);
}
.section--5 form .form--box .form--label {
  pointer-events: none;
  border-bottom: 2px solid black;
}
.section--5 form .form--box .form--label span {
  color: black;
  display: block;
  transition: transform 0.3s ease, font-size 0.3s ease;
}
.section--5 form .form--box .form--label::before {
  content: "";
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px;
  background-color: #0dc5a0;
  position: absolute;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.section--5 form .form--textarea {
  height: 13rem;
}
.section--5 form .form--btn {
  margin-top: 15px;
  padding: 10px 35px;
  border: none;
  position: relative;
}
.section--5 form .form--btn::before, .section--5 form .form--btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 3px solid #000;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.section--5 form .form--btn:hover::before {
  transform: translate(-4px, -4px);
  cursor: pointer;
}
.section--5 form .form--btn:hover::after {
  transform: translate(4px, 4px);
  cursor: pointer;
}

footer {
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: space-around;
  padding-left: 20px;
  background-color: #222;
  color: white;
}
footer .footer--copyright, footer .footer--phone {
  font-size: 20px;
  letter-spacing: 3px;
}
footer .footer--copyright .mail--link, footer .footer--phone .mail--link {
  color: #ffca3a;
}
footer .footer--socials__list {
  list-style-type: none;
  display: flex;
  width: 100px;
  font-size: 35px;
  justify-content: space-around;
}
footer .footer--socials__list i {
  color: #ffca3a;
}
footer .footer--socials__list i:hover {
  color: #0dc5a0;
}
footer #scrollToTopBtn {
  border: none;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  height: 48px;
  width: 48px;
  bottom: 15px;
  right: 35px;
  transition: all 1s ease;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100px);
  background-color: #ffca3a;
}
footer #scrollToTopBtn i {
  font-size: 24px;
}
footer #scrollToTopBtn:hover {
  background-color: #ffca3a;
}

*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  position: relative;
}
body .floating--background {
  width: 1800px;
  height: 1800px;
  position: absolute;
  background-color: rgba(66, 68, 90, 0.6);
  left: calc(50% - 900px);
  border-radius: 50%;
  top: -1650px;
  -webkit-animation: rotate 35s ease infinite;
          animation: rotate 35s ease infinite;
}
body .floating--background::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(70, 77, 158, 0.3);
  position: absolute;
  border-radius: 45%;
  -webkit-animation: rotate 35s ease infinite;
          animation: rotate 35s ease infinite;
}
body .floating--background::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(71, 158, 173, 0.432);
  position: absolute;
  border-radius: 43%;
  -webkit-animation: rotate 60s ease infinite;
          animation: rotate 60s ease infinite;
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */